html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.btn-primary {
    background-color: #006699 !important;
    border: none;
    outline: none;
}
.btn-primary:hover {
    background-color: #3ac162 !important;
}
h3 a {
    text-decoration: none !important;
    color: #006699 !important;
    font-size: 1.5rem;
}
.text-secondary {
    color: #777 !important;
}
h3 a:hover {
    color: #3ac162 !important;
}
.nav-item {
    font-size: 1rem;
    text-transform: uppercase;
    color: #333333;
    padding: 8px 0;
}
/* site.css or WebSTPM.styles.css */
.img-container {
    width: 100% !important;
    overflow: hidden;
    object-fit: cover;
    max-height: 500px;
}

.responsive-img {
    width: 100%;
    height: auto;
    display: block;
}

.container-fluid {
    padding: 0 !important;
    margin: 0 !important; 
}

main {
    margin-top: 72px;
}
.position-relative {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
}
.text-overlay{
    font-size: 2rem;
}
.img-overlay {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.table table-bordered {
    border-color: #333;
}
thead {
    background-color: #006699;
    font-weight: 600;
}
th {
    color: #FFF;
    text-align: center;
}
td {
    vertical-align: middle;
}
footer {
    background-color: #f8f9fa;
    padding: 2rem 0;
}

footer .container .row div h5 {
    font-weight: bold;
    margin-bottom: 1rem;
}

footer .container .row div p, footer .container .row div ul {
    margin-bottom: 1rem;
}

footer .container .row div ul li a {
    text-decoration: none !important;
    color: #333;
    line-height: 35px;
}
.fa-solid.fa-arrow-right {
    color: #006699;
    margin-right: 5px;
}
footer .container .row div ul li a:hover {
    color: #006699 !important;
}

footer .text-center p {
    margin-bottom: 0;
}

footer .py-3 {
    border-top: 1px solid #e9ecef;
    margin-top: 2rem;
}
.pagination .page-item .page-link {
    color: #FFF;
}

.pagination .page-item.active .page-link {
    background-color: #006699;
    border-color: #006699;
}

.pagination .page-item.disabled .page-link {
    color: #777;
}
.search:focus {
    outline: none;
    box-shadow: none !important;
}
.list-unstyled div {
    background-color: #f6f7f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
}

    .list-unstyled div a {
        color: #657a6d;
        text-decoration: none !important;
        font-weight: 800;
    }
.list-unstyled div:hover {
    background-color: #f7f6a5;
}
.list-unstyled div i {
    font-size: 0.5rem;
 }
