@{
    ViewData["Title"] = "Home Page";
}
<div class="img-container">
    <img src="https://edt.dthu.edu.vn/Mainpage/EventNews/ma3187.jpg" alt="Alternate Text" class="responsive-img" />
</div>
<div class="container">

    <h2>TUYỂN SINH</h2>
    <p>NĂM HỌC 2023 - 2024</p>
    <img src="https://edt.dthu.edu.vn/Mainpage/Page/Content/20243288453198.jpg" alt="Alternate Text" class="responsive-img" />
    <img src="https://edt.dthu.edu.vn/Mainpage/Page/Content/202432882316682.png" alt="Alternate Text" class="responsive-img" />
    <img src="https://edt.dthu.edu.vn/Mainpage/Page/Content/202432882435314.png" alt="Alternate Text" class="responsive-img" />
</div>