@{
    ViewData["Title"] = "Registration Successful";
}
<div class="container-fluid p-0 position-relative">
    <img src="https://edt.dthu.edu.vn/images/top-banner.jpg" class="img-overlay" alt="Alternate Text">
    <div class="overlay">
        <div class="text-overlay">Đăng ký thành công</div>
        <span>Trang chủ > Hội thi > Đăng ký thành công</span>
    </div>
</div>
<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Đăng ký thành công!</h4>
        <p>Bạn đã đăng ký tham gia cuộc thi thành công. Chúng tôi sẽ liên hệ với bạn sớm nhất.</p>
        <hr />
        <a class="btn btn-primary" asp-action="Contests">Quay lại danh sách hội thi</a>
    </div>
</div>
